:root {
    --bg-main: #0b0b0c;
    --bg-soft: #121214;
    --text-main: #dad8d8;
    --text-muted: #9a9a9a;
    --accent-red: #e60017;
    --accent-pink: #e90b3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-touch-callout: none;
}

html {
    background: var(--bg-main);
    scrollbar-gutter: stable both-edges;
}

body {
    background: radial-gradient(circle at top, #141416, var(--bg-main));
    color: var(--text-main);
    min-height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;
}

h1,
h2,
h3,
.nav_btn,
.btn,
.title {
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.16em;
}

p,
span,
li {
    font-family: 'Inter', sans-serif;
}

/* Scrollbar base */
::-webkit-scrollbar {
    width: 6px;
}

/* Track invisível */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Thumb (indicador) */
::-webkit-scrollbar-thumb {
    background: rgba(225, 6, 61, 0.806);
    border-radius: 10px;
}

/* Hover sutil */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 19, 90, 0.75);
}

.main-section {
    position: relative;
    background: var(--bg-soft);
    min-height: 70vh;
    width: 100%;
    overflow: hidden;
}

h1 {

    font-weight: 700;
    letter-spacing: 0.04em;
}

h2 {
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 35px;
}

.title {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 40px;
    font-size: 55px;
}

p {
    color: var(--text-muted);
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
    height: 75px;
    font-size: 35px;
}

nav {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    padding: 20px 40px;
    display: flex;
    gap: 120px;
    height: 80px;
    width: 100%;
    background: transparent;
    transition:
        padding 0.4s ease,
        height 0.4s ease,
        background-color 0.4s ease,
        backdrop-filter 0.4s ease,
        box-shadow 0.4s ease;
}

.div_links {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
}

.nav_links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

/* ESTADO COM SCROLL */
nav.scrolled {
    background-color: rgba(125, 7, 38, 0.347);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    height: 60px;
    padding: 10px 40px;
}

.menu-toggle {
    width: 32px;
    height: 22px;
    position: fixed;
    cursor: pointer;

    display: none;
    /* aparece só no mobile */
}

.menu-toggle span {
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;

    transition:
        transform 0.35s ease,
        top 0.35s ease,
        opacity 0.25s ease,
        background-color 0.3s ease;

    border: #e60017 2px solid;
}

/* posição inicial */
.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 10px;
}

.menu-toggle span:nth-child(3) {
    top: 20px;
}

/* ===== ESTADO ABERTO ===== */
.menu-toggle.active span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
}

.ico {
    height: fit-content;

    transform: translateY(25%);
    font-size: 26px;
    color: var(--text-main);
    font-family: "bootstrap-icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}


.ico-whatsapp::before {
    content: "\F618";
}

.btn_whatsapp {
    height: 100%;
    border-radius: 75px;
    background: linear-gradient(135deg, var(--accent-red), var(--accent-pink));
    padding: 0 12px;
    font-size: 15px;
    color: var(--text-main);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-wrap: nowrap;
}

.nav_logo_1 {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.nav_logo_2 {
    display: none;
    height: 40px;
    width: auto;
    cursor: pointer;
}

.nav_btn {
    position: relative;
    font-size: 18px;
    transition: 0.3s;
    height: 38px;
    padding: 5px;
}

.nav_btn::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 20px;
    bottom: 0;
    left: 0;
    background: var(--accent-red);
    transition: width 0.3s;
}

.nav_btn:hover::after {
    width: 40px;
}


/* ========= HERO ========= */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text span {
    color: var(--accent-red);
}

/* ========= CARROSSEL ========= */

.carousel {
    position: relative;
    width: 100dvw;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(135deg, #1a1a1d, #0e0e10);
}

.carousel-track {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.6s ease;
}

.carousel-slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-muted);
    font-size: 1.2rem;
}

.carousel-slide label {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 50%;
    text-align: right;
}

#lbl_1 {
    font-size: 60px;
}

#lbl_2 {
    font-size: 46px;
}

#lbl_3 {
    font-size: 46px;
}

.carousel-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-nav {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
}

.dot.active {
    background: var(--accent-red);
}

/* ========= CTA ========= */
.btn_cta {
    position: relative;
    height: 49px !important;
    padding: 10px;

    font-size: 25px;
    text-align: center;

    color: transparent ! important;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* border: var(--accent-pink) 2px solid;
    box-shadow: 0 0 15px var(--accent-pink);
    filter: drop-shadow(0 0 10px var(--accent-pink)); */
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 1s;
    overflow: hidden;
    margin-top: 50px;


    --draw-time: 0.9s;
    --text-delay: 0.9s;

    border: none;
    box-shadow: none;
    filter: none;
}

.btn_cta span {
    color: var(--accent-pink);
}

.btn_cta::before,
.btn_cta::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}


.btn_cta::before {
    background:
        linear-gradient(var(--accent-pink), var(--accent-pink)) top left,
        linear-gradient(var(--accent-pink), var(--accent-pink)) top right,
        linear-gradient(var(--accent-pink), var(--accent-pink)) bottom right,
        linear-gradient(var(--accent-pink), var(--accent-pink)) bottom left;

    background-size:
        0% 2px,
        2px 0%,
        0% 2px,
        2px 0%;

    background-repeat: no-repeat;
    animation: drawBorder var(--draw-time) ease forwards;
}

.btn_cta span {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    transition: .5s;
}

.btn_cta.show-text span {
    opacity: 1;
}

.btn_cta::before {
    animation: none;
}


.btn_cta.is-animating::before {
    animation: drawBorder 0.9s ease forwards;
}

.btn_cta span:nth-child(1) {
    transform: translateY(-100%);
}


.btn_cta span:nth-child(2) {
    transform: translateY(0);
}

@keyframes drawBorder {
    0% {
        background-size:
            0% 2px,
            2px 0%,
            0% 2px,
            2px 0%;
    }

    25% {
        background-size:
            100% 2px,
            2px 0%,
            0% 2px,
            2px 0%;
    }

    50% {
        background-size:
            100% 2px,
            2px 100%,
            0% 2px,
            2px 0%;
    }

    75% {
        background-size:
            100% 2px,
            2px 100%,
            100% 2px,
            2px 0%;
    }

    100% {
        background-size:
            100% 2px,
            2px 100%,
            100% 2px,
            2px 100%;
    }
}

.section-cta {
    background: radial-gradient(circle at top,
            black,
            var(--bg-soft) 85%);
}

.cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.cta button {
    position: relative;
    padding: 18px 48px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: var(--text-main);
    background: transparent;
    border: 2px solid var(--accent-red);
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
}

.cta button::after {
    content: "";
    position: absolute;
    inset: -40%;
    background: radial-gradient(ellipse at 50% 50%,
            rgba(255, 0, 8, 0.58) 0%,
            rgba(255, 0, 102, 0.414) 35%,
            transparent 60%);
    filter: blur(35px);
    opacity: 0.5;
    z-index: -1;
    animation: shadowPulse 6s ease-in-out infinite,
        shadowShift 8s ease-in-out infinite;
    pointer-events: none;
}

@keyframes shadowPulse {

    0%,
    100% {
        opacity: 0.35;
    }

    50% {
        opacity: 0.55;
    }
}

@keyframes shadowShift {
    0% {
        background-position: 50% 50%;
    }

    25% {
        background-position: 48% 52%;
    }

    50% {
        background-position: 52% 54%;
    }

    75% {
        background-position: 51% 49%;
    }

    100% {
        background-position: 50% 50%;
    }
}




.cta-box {
    max-width: 520px;
}

.cta-box h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-box h3 {
    margin-bottom: 16px;
}

.cta-desc {
    font-size: 1rem;
    margin-bottom: 30px;
    color: var(--text-muted);
}

.cta-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;
}

.cta-tags span {
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    background: rgba(225, 6, 60, 0.08);
    border: 1px solid rgba(225, 6, 60, 0.4);
    color: var(--text-main);
}

/* ========= CONTATO ========= */

.contact {
    text-align: center;
    background-color: var(--accent-pink);
}

.contact h2 {
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    color: var(--text-main);
}

.contact-info div {
    min-width: 220px;
}


/* ========= SOBRE ZERO 1 ========= */

.about-z1 {
    padding: 120px 40px;
    background: radial-gradient(circle at left top,
            rgba(225, 6, 60, 0.08),
            transparent 55%);
}

.about-header {
    max-width: 560px;
    margin-bottom: 60px;
}

.about-header h2 {
    font-size: 2.4rem;
    margin-bottom: 16px;
}

.about-header h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: var(--accent-pink);
    margin-top: 1px;
}

.about-header p {
    color: var(--text-muted);
    line-height: 1.7;
}

/* ========= CARDS ========= */

.about-cards {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;

}

.about-card {
    padding: 40px;
    border-radius: 24px;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.04),
            rgba(255, 255, 255, 0.01));
    border: 1px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(8px);
    transition: 0.5s;
}

.about-card h3 {
    margin-bottom: 16px;
}

.about-card p {
    color: var(--text-muted);
    line-height: 1.7;
}

.circuit-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}


.circuit-base {
    fill: none;
    stroke: rgba(255, 0, 60, 0.18);
    stroke-width: 2;
}

.circuit-glow {
    fill: none;
    stroke: #ff003cab;
    stroke-width: 3;

    /* “ponto” de energia */
    stroke-dasharray: 14 600;
    stroke-dashoffset: 0;

    filter: drop-shadow(5px 5px 6px rgba(255, 0, 60, 0.9)) drop-shadow(5px 5px 14px rgba(255, 0, 60, 0.9));

    opacity: 1;
}


/* ========= CARD DESTACADO ========= */

.about-card.highlight {
    box-shadow: 0 0 40px rgba(225, 6, 60, 0.15);
}

.badge {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 18px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #fff;
    border-radius: 999px;
    background: linear-gradient(135deg,
            var(--accent-red),
            var(--accent-pink));
}

/* ========= RESPONSIVO ========= */

@media (min-width: 901px) {
    .about-card:hover {
        border: 1px solid rgba(242, 0, 0, 0.302);
        backdrop-filter: blur(8px);
        transform: scale(1.015);
    }

    .cta button:hover {
        background: var(--accent-red);
        box-shadow: 0 0 25px rgba(225, 6, 60, 0.4);
    }

    .cta button:hover::after {
        opacity: 0.7;
    }

    .btn_cta:hover span:nth-child(2) {
        transform: translateY(100%);
        transition: 0.3s;

    }

    .btn_cta:hover {
        background: var(--accent-red);
        color: var(--text-main);
        box-shadow: 0 0 25px rgba(225, 6, 60, 0.4);
        transform: translateY(-2px);
    }

    .btn_cta:hover span:nth-child(1) {
        transform: translateY(0);
        transition: 0.3s;
    }

    .nav_btn:hover {
        color: var(--accent-red);
    }
}

@media (max-width: 900px) {
    * {
        text-align: start;
    }

    nav {
        background: var(--bg-main);
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 10px;
    }

    .menu-toggle {
        width: 25px;
        height: 25px;
        cursor: pointer;

        display: none;
        /* aparece só no mobile */
    }

    .menu-toggle span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--text-main);
        border-radius: 2px;

        transition:
            transform 0.35s ease,
            top 0.35s ease,
            opacity 0.25s ease,
            background-color 0.3s ease;
    }

    /* posição inicial */
    .menu-toggle span:nth-child(1) {
        top: 0;
    }

    .menu-toggle span:nth-child(2) {
        top: 10px;
    }

    .menu-toggle span:nth-child(3) {
        top: 20px;
    }

    /* ===== ESTADO ABERTO ===== */
    .menu-toggle.active span:nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
    }

    .menu-toggle {
        display: block;
    }


    .nav_logo_1 {
        display: none;
    }

    .nav_logo_2 {
        display: block;
        position: absolute;
        width: 100px;
        height: auto;
        left: calc(50% - 50px);
        top: 15px;
    }

    .nav_links {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: start;
        /* transform: translateX(-100%); */
        transform: translateY(60px);
    }



    .btn_whatsapp {
        height: 100%;

    }

    .btn_whatsapp .text-whatsapp {
        display: none;
    }

    .about-cards {
        grid-template-columns: 1fr;
    }

    .about-header {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-toggle {
        display: block;
    }

    .div_links {
        flex-direction: column;
        height: fit-content;
        background: rgba(0, 0, 0, 0.541);
        backdrop-filter: blur(10px);
    }

    #nav_links {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: 1s;
        overflow: hidden;
        padding: 0;
        gap: 0;
    }

    #nav_links.open {
        height: 120px;
    }

    .nav_btn::after {
        width: 100%;
        height: 2px;
        left: 0;
        background: #ff003cab;
    }

    .carousel-img {
        height: 100%;
    }

    #lbl_1 {
        width: 80%;
        padding: 10px;
        font-size: 25px;
        letter-spacing: 5px;
    }

    #lbl_2 {
        width: 80%;
        padding: 10px;
        font-size: 25px;
        letter-spacing: 5px;
    }

    #lbl_3 {
        width: 80%;
        padding: 10px;
        font-size: 25px;
        letter-spacing: 5px;
    }

    .title {
        font-size: 30px;
        padding: 20px 40px;
    }

    .about-header h2 {
        font-size: 25px;
        margin-bottom: 16px;
    }

    .badge {
        display: none;
    }

    .cta {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .circuit-right {
        display: none;
    }

    .btn_cta {
        color: transparent;
        font-size: 20px;
        padding: 0 10px;
    }

    .btn_cta span {
        color: var(--text-main);
        font-size: 18px;
    }

    .btn_cta::before {
        background:
            linear-gradient(var(--text-main), var(--text-main)) top left,
            linear-gradient(var(--text-main), var(--text-main)) top right,
            linear-gradient(var(--text-main), var(--text-main)) bottom right,
            linear-gradient(var(--text-main), var(--text-main)) bottom left;

        background-size:
            0% 2px,
            2px 0%,
            0% 2px,
            2px 0%;

        background-repeat: no-repeat;
    }

    .contact-info {
        display: flex;
        justify-content: start;
        padding: 0 40px;
        gap: 0px;
        flex-wrap: wrap;
        color: var(--text-main);
    }
}
